<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" height="210mm" width="148.5mm">
  <defs>
      {% macro createSurface($i, $size, $image)  %}
        <symbol id="pic{{$i}}" viewBox="0 0 {{$size.width*8}} {{$size.height*8}}">
            <svg viewBox="-{{$size.x*8}} -{{$size.y*8}} {{$size.width*8}} {{$size.height*8}}">
                <image href="{{$image.imageName}}" width="{{ $image.width }}" height="{{ $image.height }}" />
            </svg>
        </symbol>
        <symbol id="pic{{$i}}Flip" viewBox="0 0 {{$size.width*8}} {{$size.height*8}}">
            <use href="#pic{{$i}}" width="{{$size.width*8}}" height="{{$size.height*8}}" transform="translate({{$size.width*8}} 0),scale(-1,1)" />
        </symbol>
      {% endmacro %}
      {{ createSurface(1, sides[0].size, sides[0].image) }}
  </defs>
  <style type="text/css">
    .barcode            {font-family:Code-39-Logitogo;font-size:15pt;text-anchor:middle;dominant-baseline:middle}
  </style>

  <use x="0.5cm"  y="0.5cm" href="#pic1Flip" width="148.5mm" height="148.5mm" />
</svg>